<section class="bg color">
    <div class="top-right">
        <button class="dark-mode-button" (click)="darkMode()">Dark Mode</button>
        <button class="logout-button" (click)="logout()">Logout</button>
    </div>
    <div class="container">
        <div class="title">
            <p>The Best Seller Of Click And Dark</p>
            <h1><span>Best</span> Seller</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">10%</div>
                        <div class="label label-green">Refurbished</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage2($event)"><img src="../assets/mac air 2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage2($event)"><img src="../assets/mac air 3.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage2($event)"><img src="../assets/mac air 4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url2}}" alt=" Image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-shopping-heart"></i></a></li>
                                <li><a href="https://example.com"><i class="fa fa-shopping-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Apple 2020 MacBook Air Laptop M1 Chip, 13" Retina Display, 8GB RAM, 256GB SSD Storage, Backlit Keyboard, FaceTime HD Camera, Touch ID. Works with iPhone/iPad; Gold</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p><span class="money">630.00€</span> <span class="old-price">700.00€</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">20%</div>
                        <div class="label label-green">Refurbished</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage3($event)"><img src="../assets/apple watch 2.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage3($event)"><img src="../assets/apple watch 3.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage3($event)"><img src="../assets/apple watch 4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url3}}" alt=" Image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-shopping-heart"></i></a></li>
                                <li><a href="https://example.com"><i class="fa fa-shopping-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Apple Watch Series 8 [GPS 45mm] Smart Watch w/Midnight Aluminum Case with Midnight Sport Band - S/M. Fitness Tracker, Blood Oxygen & ECG Apps, Always-On Retina Display, Water Resistant</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p><span class="money">360.00€</span> <span class="old-price">450.00€</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">10%</div>
                        <div class="label label-green">Refurbished</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage4($event)"><img src="../assets/big tablette.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage4($event)"><img src="../assets/tablette image 3.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage4($event)"><img src="../assets/tablette image 4.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url4}}" alt=" Image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-shopping-heart"></i></a></li>
                                <li><a href="https://example.com"><i class="fa fa-shopping-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Apple iPad Air (5th Generation): with M1 chip, 10.9-inch Liquid Retina Display, 64GB, Wi-Fi 6, 12MP front/12MP Back Camera, Touch ID, All-Day Battery Life – Pink</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p><span class="money">462.60€</span> <span class="old-price">514.50€</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">15%</div>
                        <div class="label label-green">Refurbished</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="changeImage1($event)"><img src="../assets/iphone photo.jpeg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage1($event)"><img src="../assets/iphone-14-pro-1.jpg" alt="Product"></div>
                            <div class="p" (mouseover)="changeImage1($event)"><img src="../assets/raw.jpeg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url1}}" alt=" Image">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-shopping-heart"></i></a></li>
                                <li><a href="https://example.com"><i class="fa fa-shopping-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="">Apple iPhone 14 Pro Max, 1TB, Deep Purple - Unlocked (Renewed Premium)</a>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p><span class="money">1232.50€</span> <span class="old-price">1450.00€</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
